			body{
				margin: 0;
				padding: 0;
			}
			#firstRow{
				background: #0056B3;
			}
			#newcourse{
				background: #0069D9;
				border: 0;
			}
			.lable{
				background: #0062CC;
				text-align: left;
			}
			#secRow{
				background-color: gray;
			}
			li{
				list-style: none;
			}
			#title li{
				margin: 8px;
			}
			#icon li{
				margin: 4px;
			}
			#ownedby li{
				margin: 8px;
			}
			#moditydate li{

				margin: 8px;
			}
			#delete button{
				margin: 3px;
				border: 0;
			}
			.wbdv-button-right{
				color: red;
				left: 50px;
			}
			.wbdv-btbottom-right{
				color: red;
				position: fixed;
				bottom: 20px;
				right: 20px;
			}